@charset "utf-8";


:root{
    --cor1: #04080fff;
    --cor2: #507dbcff;
    --cor3: #a1c6eaff;
    --cor4: #bbd1eaff;
    --cor5: #dae3e5ff;
}

*{
    margin: 0;
    padding: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
html{
    background-color: var(--cor5);
}
header{
    font-variant: small-caps;
}
header div div{
    font-size: 1.5em;
}
main{
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

main h2{
    text-align: center;
    background-color: var(--cor3);
    border-radius: 10px;
    border: 1px dashed var(--cor2);
    margin: 2px;
    padding: 2px;
}

main h2:hover{
    background-color: #cee0f3;
    transition-duration: 0.5ms;
}

header{
    text-align: center;
    padding: 1vh;
    font-size: 1em;
    background-image: linear-gradient(to right, var(--cor4), var(--cor3), var(--cor4));
}

.topo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.faixa{
    background: var(--cor2);
    height: 10px;
}

.fotoperfil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cor1);
    background-image: url(/images/perfil\ -\ Copia.jpg);
    background-size: 150px 200px;
    border: 5px solid var(--cor5);
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2px;
    margin: auto;
    
}

.caixa{
    border: 1px solid var(--cor2);
    margin: 5px;
    border-radius:10px;
    padding: 2px;
    height: fit-content;

}

.item{
    border: 1px dashed var(--cor2); 
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
    background-color: var(--cor4);
    padding-bottom: 10px;
    height: fit-content;


}

#box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div img{
    height: 15px
}
div a{
    text-decoration: none;
    color: var(--cor1);
}
div a:hover{
    text-decoration: underline;
    color: var(--cor2);
    font-size: large;
}

.alinha_text{
    padding: 10px;
}

div h3{
   padding: 10px;
}
div p{
    text-indent: 15px;
 }

div ul{
    padding-left: 10px;
    padding-right: 10px; 
    list-style-type: circle;
}
div ul li{
    margin-left: 20px;
}
ul h3{
    font-size: large;
    padding: 5px;
}

.demarcado{
    border: 1px dashed var(--cor5);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

div .portifolio{
    display: flex;
    flex-wrap: wrap;

}

.portifolio{
    padding: 10px;
    justify-content: center;
    gap: 10px;
    
    
}

div .portifolio li{
    display: flex;
    width: 120px;
    height: 120px;
    max-width: 180px;
    max-height: 180px;
    border: 2px solid var(--cor1);
}



footer {
    text-align: center;
    padding: 1vh;
    background-image: linear-gradient(to right, var(--cor4), var(--cor3), var(--cor4));
}

footer h2{
    text-align: center;
    background-color: var(--cor5);
    border-radius: 10px;
    border: 1px dashed var(--cor2);
    margin: auto;
    padding: 2px;
    max-width: 800px;
    
}
footer h2:hover{
    background-color: #cee0f3;
    transition-duration: 0.5ms;
}